@{
    ViewBag.Title = "About";
}

<div class="featureBanner">
    <div class="bannerContent">
        <h1>
            <strong>Michael Wight</strong>
        </h1>
        <p> Masters of Science in Computer Science</p>
    </div>
</div>
<div class="aboutContentContainer">
    <div class="bioContent row">
        <div class="col-lg-3">
            <img src="~/Content/Images/MWightPortrait.jpg" class="bioImage" />
        </div>
        <div class="col-lg-6">
            <h2>Bio</h2>
            <p>Hello, My names Michael!</p>
            <p>
                I'm a Northern Illinois University graduate with a degree in Computer Science and Software Development.
                I pride myself as an eager, flexible, and open-minded developer with the drive to learn new things and better myself in my profession.
                I've always loved discovering and understanding the details about how things work.
                My passion and dedication is what continues to drive me through life.
            </p>
            <p>
                Throughout my years of study I’ve elevated my critical thinking and self-learning abilities so that I’d complete all the tasks given to me.
                In my studies I've gained important experience in relational databases, object oriented programming design, data structure, algorithms, and
                collaboration with classmates to discover web design in a software frameworks class where I worked with ten different popular frameworks.
            </p>
        </div>

    </div>
    <div class="educationContent">
        <h2>Education</h2>

    </div>

    <div class="skillsContent">
        <h2>Skills</h2>

    </div>

    <div class="projectContent">
        <h2>Project Experience</h2>
    </div>

    <div class="experienceContent">
        <h2>Work history</h2>


    </div>
</div>
