@{
    ViewBag.Title = "Home Page";
}
<div class="featureBanner">
    <div class="bannerContent">
        <h1>
            <strong>Here's a list of some of my projects!</strong>
        </h1>
    </div>
</div>
<div class="featuredProjectContainer">
    <ul class="featuredProjectContent">
        <li class="project1">
            <div>
                <h2>My Cookbook</h2>
                <img src="~/Content/Images/SampleSite.png" id="sampleProjectImg" />
                <div class="buttonDiv">
                    <a class="button" id="gitLink" href="https://github.com/MWight20/My_Cookbook">
                        Click here to visit on GitHub
                    </a>

                    <a class="button" id="specLink" href="#">
                        Click here for Project details
                    </a>
                </div>

                <p><strong>What is "My Cookbook?":</strong></p>
                <p>
                    This cookbook app serves as a means to organize and collect different cooking recipes into one place and manage them into a viewable, navigatable interface.

                    Anyone can view individual recipes via the community page, where all the recipes will be listed under. Each entry will contain information such as what the dish is called, a brief description, a list of ingredients, and a step by step instruction on how to make the dish.

                    To submit a recipe to the page, one must register a username, email, and password to create their own account. Once their account is created, they will be able to submit their own personal recipes to the website.
                </p>
            </div>
        </li>
        <li class="project2">
            <div>
                <h2>Web API Demo Application</h2>
                <img src="~/Content/Images/SampleSite.png" id="sampleProjectImg" />

                <div class="buttonDiv">
                    <a class="button" href="https://github.com/MWight20/WebApiApplication">
                        Click here to visit on GitHub
                    </a>

                    <a class="button" id="specLink" href="#">
                        Click here for Project details
                    </a>
                </div>
                <p><strong>Web API Demo Application:</strong></p>
                <p>
                    #
                </p>
            </div>
        </li>
        <li class="project3">
            <div>
                <h2>MERN Stack Starter</h2>
                <img src="~/Content/Images/SampleSite.png" id="sampleProjectImg" />
                <div class="buttonDiv">
                    <a class="button" href="https://github.com/MWight20/MERN-Stack-starter">
                        Click here to visit on GitHub
                    </a>

                    <a class="button" id="specLink" href="#">
                        Click here for Project details
                    </a>
                </div>
                <p><strong>MERN Stack Starter</strong></p>
                <p>
                    #
                </p>
            </div>
        </li>
        <li class="project4">
            <div>
                <h2>Time Management System</h2>

                <img src="~/Content/Images/SampleSite.png" id="sampleProjectImg" />

                <div class="buttonDiv">
                    <a class="button" href="https://github.com/MWight20/MeteorProject">
                        Click here to visit on GitHub
                    </a>

                    <a class="button" id="specLink" href="#">
                        Click here for Project details
                    </a>
                </div>

                <p><strong>Time Management System</strong></p>
                <p>
                    #
                </p>
            </div>
        </li>
    </ul>
</div>
