@{
    ViewBag.Title = "Portfolio Page";
}
<div class="featureBanner">
    <div class="bannerContent">
        <h1>
            Here's a list of some of my projects:
        </h1>
        <p>@Html.ActionLink("Click here to find out more about me.", "index", "Home", null, new { @class = "bannerHeaderLink" })</p>
    </div>
</div>
<div class="featuredProjectContainer">
    <div class="tableOfContents">
        <h4>Table Of Contents:</h4>
        <ul>
            <li><a href="#AzureCookbook">Azure Cookbook</a></li>
            <li><a href="#TMS-Meteor">Time Management System</a></li>
            <li><a href="#WebAPIDemo">WebAPI / Winform Application Demo</a></li>
            <li><a href="#MERNStackStarter">MERN - Stack Starter</a></li>
        </ul>
    </div>

    

    <ul class="featuredProjectContent">
        <li class="project" id="AzureCookbook">
            <div>
                <a href="https://github.com/MWight20/Azure_Cookbook" id="projectTitleLink"><h2><strong>Azure Cookbook</strong></h2></a>
                <a href="~/Content/Images/azurecookbookscreenshot.png"><img src="~/Content/Images/azurecookbookscreenshot.png" id="sampleProjectImg" /></a>
                <a href="~/Content/Images/AzureCookBookNewRecipe.png"><img src="~/Content/Images/AzureCookBookNewRecipe.png" id="sampleProjectImg" /></a>

                <p id="imageEnlarge"><small>Click on image to enlarge</small></p>

                <div class="projectContentDescription">
                    <p><strong>Azure Cookbook</strong></p>
                    <p>
                        This cookbook app serves as a means to organize and collect different cooking recipes into one place and manage them into a viewable, navigatable user interface.
                    </p>
                    <p>
                        Anybody can view individual recipes via a main community page hub. You can add a new recipe to the community page either as a guest or as a registered user. Guests will not be able
                        to return and edit their recipes.
                    </p>
                    <p>
                        <strong>Technologies used:</strong>
                        <br />
                        C#.NET, MVC, Entity Framework, JavaScript, MySQL, Visual Studio 2017, Bootstrap.
                    </p>

                </div>

                <div class="buttonDiv">
                    <a class="button gitLink" href="https://github.com/MWight20/Azure_Cookbook">
                        Click here to visit on GitHub
                    </a>

                </div>
            </div>
        </li>


        <a href="#rightNav" id="stickyButton" class="button">Return to the top </a>

        <li class="project" id="TMS-Meteor">
            <div>
                <a href="https://github.com/MWight20/TMS-Meteor" id="projectTitleLink"><h2><strong>Time Management System</strong></h2></a>
                <a href="~/Content/Images/TMSAddnewproject.png"><img src="~/Content/Images/TMSAddnewproject.png" id="sampleProjectImg" /></a>
                <a href="~/Content/Images/TMSTimeSheets.png"><img src="~/Content/Images/TMSTimeSheets.png" id="sampleProjectImg" /></a>

                <p id="imageEnlarge"><small>Click on image to enlarge</small></p>


                <div class="projectContentDescription">
                    <p><strong>Time Management System - "TMS-Meteor"</strong></p>
                    <p>
                        TMS-Meteor / MeteorProject was created during the Spring semester of 2018 for the CSCI680 - Web App Frameworks class final group project.
                    </p>
                    <p>
                        With this app, users are enabled to be assigned into group projects via the 'supervisor' user-role,
                        where they will be able to login, manage, and submit a personal timesheet records.
                    </p>
                    <p>
                        <strong>Technologies used:</strong>
                        <br />
                        Meteor.js, Node.js, MongoDB, Mini-mongo, JavaScript.
                    </p>
                </div>


                <div class="buttonDiv">
                    <a class="button gitLink" href="https://github.com/MWight20/TMS-Meteor">
                        Click here to visit on GitHub
                    </a>
                </div>
            </div>

        </li>
        <li class="project" id="WebAPIDemo">
            <div>
                <a href="https://github.com/MWight20/WebApiApplication" id="projectTitleLink"><h2><strong>Web API / Winform Demo Application</strong></h2></a>
                <a href="~/Content/Images/webapiapplicationScreenshot.png"><img src="~/Content/Images/webapiapplicationScreenshot.png" id="sampleProjectImg" /></a>
                <a href="~/Content/Images/webapiCodesnippet.png"><img src="~/Content/Images/webapiCodesnippet.png" id="sampleProjectImg" /></a>
                <a href="~/Content/Images/winformapplicationScreenshot.png"><img src="~/Content/Images/winformapplicationScreenshot.png" id="sampleProjectImg" /></a>

                <p id="imageEnlarge"><small>Click on image to enlarge</small></p>

                <div class="projectContentDescription">
                    <p><strong>Web API Demo Application:</strong></p>
                    <p>
                        "Web API Demo Application" is one part of a two part program that demonstrates the use of a basic CRUD API call.
                    </p>
                    <p>
                        Part 1 contains a .NET application that runs a Web API, which connects to a local database.
                        Part 2 contains a .NET Winform application that makes a call to our separate Web API, takes the information received, then renders it into a DataView Grid table.
                    </p>
                    <p>
                        <strong>Technologies used:</strong>
                        <br />
                        C#.NET, MS Winform, MS SQL Server, Visual Studio 2017
                    </p>
                </div>

                <div class="buttonDiv">
                    <a class="button gitLink" href="https://github.com/MWight20/WebApiApplication">
                        Click here to visit on GitHub
                    </a>
                </div>
            </div>
        </li>
        <li class="project" id="MERNStackStarter">
            <div>
                <a href="https://github.com/MWight20/MERN-Stack-starter" id="projectTitleLink"><h2><strong>MERN Stack Starter</strong></h2></a>

                <a href="~/Content/Images/MERNStackStarterscreenshot.png"><img src="~/Content/Images/MERNStackStarterscreenshot.png" id="sampleProjectImg" /></a>
                <a href="~/Content/Images/MERNStackStarterpostmanscreenshot.png"><img src="~/Content/Images/MERNStackStarterpostmanscreenshot.png" id="sampleProjectImg" /></a>

                <p id="imageEnlarge"><small>Click on image to enlarge</small></p>

                <div class="projectContentDescription">
                    <p><strong>MERN Stack Starter</strong></p>
                    <p>
                        A custom MERN-stack boilerplate application built with both front-end and back-end capabilities.
                    </p>

                    <p>
                        <strong>Technologies used:</strong>
                        <br />
                        JavaScript, Node.JS, React.JS, Webpack, Babel, Express.JS, MySQL
                    </p>
                </div>


                <div class="buttonDiv">
                    <a class="button gitLink" href="https://github.com/MWight20/MERN-Stack-starter">
                        Click here to visit on GitHub
                    </a>
                </div>
            </div>
        </li>
    </ul>
    
</div>
